<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ClientMapper.xml -->
<mapper namespace="com.itwillbs.mapper.ClientMapper">

    <!-- 디비 컬럼과 도메인 객체 매핑 -->
    <!-- 프로퍼티명과 컬럼명 동일 시 생략가능  -->
    <resultMap type="com.itwillbs.domain.ClientVO" id="client">
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="conditions" column="conditions"/>
        <result property="items" column="items"/>
        <result property="ceo" column="ceo"/>
        <result property="manager" column="manager"/>
        <result property="address" column="address"/>
        <result property="address2" column="address2"/>
        <result property="tel" column="tel"/>
        <result property="phone" column="phone"/>
        <result property="fax" column="fax"/>
        <result property="email" column="email"/>
        <result property="note" column="note"/>
        <result property="active" column="active"/>
    </resultMap>

    <!-- 거래처 리스트 전체 조회 -->
    <select id="selectClientList" resultType="ClientVO">
        SELECT * FROM CLIENT
    </select>

	<!-- 거래처 등록 -->
    <insert id="insertClient">
        INSERT INTO CLIENT (code,name,type,conditions,items,ceo,manager,address,address2,tel,phone,fax,email,note,active) 
        VALUES (#{code},#{name},#{type},#{conditions},#{items},#{ceo},#{manager},#{address},#{address2},#{tel},#{phone},#{fax},#{email},#{note},#{active})
    </insert>

    <!-- 거래처 수정 -->
    <update id="updateClient">
        UPDATE CLIENT SET code = #{code}, name = #{name}, type = #{type}, conditions = #{conditions}, items = #{items}, ceo = #{ceo}, manager = #{manager}, address = #{address}, address2 = #{address2}, tel = #{tel}, phone = #{phone}, fax = #{fax}, email = #{email}, note = #{note}, active = #{active} 
        where code = #{code}
    </update>
    
    <!-- 특정 번호 글 조회 -->
  	<select id="getClient" resultType="ClientVO">
  		select * from CLIENT 
  		where code = #{code} 
  	</select>

    <!-- 거래처 삭제 -->
	<delete id="deleteClients" parameterType="string">
	    DELETE FROM CLIENT WHERE code IN
	    <foreach collection="array" item="code" open="(" separator="," close=")">
	        #{code}
	    </foreach>
	</delete>
	
	<select id="getInfo" resultType="ClientVO" parameterType="string">
        SELECT * FROM CLIENT WHERE code IN
        <foreach collection="array" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>
    
    <!-- 전체 품목 수 조회 -->
  	<select id="countClient" resultType="int">
  <![CDATA[
  	select count(*) from CLIENT where 1=1
  ]]>
	</select>
	
	<!-- 거래처 리스트 페이지 -->
    <select id="clientListPage" resultType="ClientVO">
       <![CDATA[
       SELECT *
       FROM (
           SELECT ROWNUM as RNUM, C.*
           FROM (
               SELECT *
               FROM CLIENT
               ORDER BY code DESC
           ) 
           WHERE ROWNUM <= #{cri.pageEnd}
       ) 
       WHERE RNUM >= #{cri.pageStart}
       ]]>
    </select>
    
    <select id="totalClientCount" resultType="int">
	    <![CDATA[
	    SELECT COUNT(*)
	    FROM CLIENT
	    ]]>
    </select>
    
    <select id="clientListByCategory" resultType="ClientVO" parameterType="map">
	    <![CDATA[
	    SELECT *
	    FROM (
	        SELECT ROWNUM as RNUM, C.*
	        FROM (
	            SELECT *
	            FROM CLIENT
	            WHERE
	                <choose>
	                    <when test="searchCategory == '거래처 코드'">
	                        CODE LIKE '%' || #{searchKeyword} || '%'
	                    </when>
	                    <when test="searchCategory == '거래처명'">
	                        NAME LIKE '%' || #{searchKeyword} || '%'
	                    </when>
	                </choose>
	            ORDER BY name DESC
	        ) C
	        WHERE ROWNUM <= #{cri.pageEnd}
	    ) 
	    WHERE RNUM >= #{cri.pageStart}
	    ]]>
    </select>
    
	<!-- 거래처 상세 -->
	<select id="infoClient" resultType="ClientVO">
        SELECT code,name,type,conditions,items,ceo,manager,address,address2,tel,phone,fax,email,note,active 
        FROM CLIENT 
        where code = #{code}
    </select>

</mapper>
