<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- facilityMapper.xml -->
<mapper namespace="com.itwillbs.mapper.FacilityMapper">
	<resultMap type="com.itwillbs.domain.FacilityVO"
		id="facility">
		<result property="code" column="code" />
		<result property="category" column="category" />
		<result property="name" column="name" />
		<result property="model" column="model" />
		<result property="purchase_date" column="purchase_date" />
		<result property="inprice" column="inprice" />
		<result property="location" column="location" />
		<result property="line_code" column="line_code" />
		<result property="uph" column="uph" />
		<result property="image" column="image" />
		<result property="active" column="active" />
	</resultMap>

	<sql id="facilitySearch">
		<where>
			<![CDATA[code = code ]]>
			<if test="search eq null">
				<![CDATA[AND active = TRUE ]]>
			</if>
			<if test="search neq null">
				<!-- 라디오 -->
				<if test="search.formRadio eq null">
				<![CDATA[AND active = TRUE ]]>
				</if>
				<if test="search.formRadio neq null">
					<choose>
						<when test="search.formRadio.toString() eq 'true'">
							<![CDATA[AND active = TRUE ]]>
						</when>
						<when test="search.formRadio.toString() eq 'false'">
							<![CDATA[AND active = FALSE ]]>
						</when>
					</choose>
				</if>
				<!-- 라디오 -->
				<!-- 기본 검색 -->
				<if test="search.searchKeyword neq null">
					<choose>
						<when test="search.searchCategory.toString() eq null">
							<![CDATA[
								AND (code LIKE '%'||#{search.searchKeyword}||'%' OR 
								name LIKE '%'||#{search.searchKeyword}||'%' OR 
								model LIKE '%'||#{search.searchKeyword}||'%' OR 
								location LIKE '%'||#{search.searchKeyword}||'%' OR 
								line_code LIKE '%'||#{search.searchKeyword}||'%'
								) 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'code'">
							<![CDATA[
								AND code LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'name'">
							<![CDATA[
								AND name LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'model'">
							<![CDATA[
								AND model LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'location'">
							<![CDATA[
								AND location LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'line_code'">
							<![CDATA[
								AND line_code LIKE '%'||#{searchKeyword}||'%' 
							]]>
						</when>
					</choose>
				</if>
				<!-- 기본 검색 -->
				<!-- check box -->
				<if test="search.formCheck neq null">
				<![CDATA[AND category IN]]>
					<foreach collection="search.formCheck" item="item"
						index="index" open="(" close=")" separator=",">
						#{item}
					</foreach>
				</if>
				<!-- check box -->
				<!-- date -->
				<if test="search.date neq null and search.date.toString() neq ''">
				<![CDATA[
					AND purchase_date = #{search.date}
				]]>
				</if>
				<!-- date -->
				<!-- date between -->
				<choose>
					<when
						test="search.betweenDateLeft eq null and search.betweenDateRight eq null">
					</when>
					<when
						test="search.betweenDateLeft.toString().length() > 0 
			and (search.betweenDateRight eq null or search.betweenDateRight.toString() eq '')">
						<![CDATA[
							AND purchase_date > #{search.betweenDateLeft}
						]]>
					</when>
					<when
						test="search.betweenDateRight.toString().length() > 0 
			and (search.betweenDateLeft eq null or search.betweenDateLeft.toString() eq '')">
						<![CDATA[
							AND purchase_date < #{search.betweenDateRight}
						]]>
					</when>
					<when
						test="search.betweenDateLeft neq null and 
				search.betweenDateLeft.toString() neq '' and
				search.betweenDateRight neq null and
				search.betweenDateRight.toString() neq ''">
						<![CDATA[
							AND purchase_date BETWEEN
							#{search.betweenDateLeft} AND
							#{search.betweenDateRight}
						]]>
					</when>
				</choose>
				<!-- date between -->
			</if>
			<!-- searchVO not null -->
		</where>
	</sql>

	<!-- 추가 -->
	<insert id="insertFacility">
		INSERT INTO FAC_INFO (code, category, name, model,
		purchase_date, inprice)
		VALUES (#{code}, #{category}, #{name}, #{model}, #{purchase_date},
		${inprice})
	</insert>

	<select id="findLastFacility">
		SELECT code FROM FAC_INFO
		WHERE category = #{category}
		ORDER BY code DESC
		LIMIT 0, 1
	</select>

	<sql id="updateFacility">
		<![CDATA[
				category = #{category},
			]]>
		<if test="name neq null">
				<![CDATA[
					, name = #{name}
				]]>
		</if>
		<if test="model neq null and model.toString() neq ''">
				<![CDATA[
					, model = #{model}
				]]>
		</if>
		<if test="location neq null and locaiton.toString() neq ''">
				<![CDATA[
					, location = #{location}
				]]>
		</if>
		<if test="line_code neq null and line_code.toString() neq ''">
				<![CDATA[
					, line_code = #{line_code}
				]]>
		</if>
		<if test="image neq null and image.toString() neq ''">
				<![CDATA[
					, image = #{image}
				]]>
		</if>
	</sql>

	<!-- 수정(클라이언트) -->
	<update id="updateFacilityClient">
		UPDATE FAC_INFO
		<set>
			<include refid="updateFacility" />
		</set>
		<where>
			code = #{code}
		</where>
	</update>

	<update id="updateFacilityAdmin">
		UPDATE FAC_INFO
		<set>
			active = #{active}
			<include refid="updateFacility" />
			<choose>
				<when test="client_code eq null or client_code.toString() eq ''">
					<![CDATA[
					, client_code = NULL
					]]>
				</when>
				<when test="client_code neq null and client_code.toString() neq ''">
					<![CDATA[
					, client_code = #{client_code}
					]]>
				</when>
			</choose>
			<choose>
				<when test="image eq null or image.toString() eq ''">
					<![CDATA[
					, image = NULL
					]]>
				</when>
				<when test="image neq null and image.toString() neq ''">
					<![CDATA[
					, image = #{image}
					]]>
				</when>
			</choose>
			<if test="uph neq null and uph > 0">
				<![CDATA[
					, uph = #{uph}
				]]>
			</if>
			<if test="purchase_date neq null and purchase_date.toString() neq ''">
				<![CDATA[
					, purchase_date = #{purchase_date}
				]]>
			</if>
			<if test="inprice neq null and inprice > 0">
				<![CDATA[
					, inprice = #{inprice}
				]]>
			</if>
		</set>
		<where>
			code = #{code}
		</where>
	</update>

	<!-- 삭제 -->
	<delete id="deleteFacility">
		DELETE FROM FAC_INFO
		<where>
			<![CDATA[ code IN ]]>
			<foreach collection="code" item="item" index="index" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</delete>

	<!-- 개수 계산 -->
	<select id="getFacilityCount" resultType="int">
		<![CDATA[	
		SELECT count(*) FROM FAC_INFO 
		]]>
		<include refid="facilitySearch" />
	</select>

	<!-- 페이징 처리한 리스트 return -->
	<select id="getFacilityList"
		resultType="com.itwillbs.domain.FacilityVO" resultMap="facility">
		<![CDATA[
		SELECT * FROM FAC_INFO
		]]>
		<include refid="facilitySearch" />
		<![CDATA[
		ORDER BY 
		]]>
		<choose>
			<when test="search.order[0].toString eq 'asc">
				code asc 
			</when>
			<when test="search.order[0].toString eq 'desc">
				code desc 
			</when>
		</choose>
		<choose>
			<when test="search.order[1].toString eq 'asc">
				category asc 
			</when>
			<when test="search.order[1].toString eq 'desc">
				category desc 
			</when>
		</choose>
		<choose>
			<when test="search.order[2].toString eq 'asc">
				model asc 
			</when>
			<when test="search.order[2].toString eq 'desc">
				model desc 
			</when>
		</choose>
		<choose>
			<when test="search.order[3].toString eq 'asc">
				name asc 
			</when>
			<when test="search.order[3].toString eq 'desc">
				name desc 
			</when>
		</choose>
		<choose>
			<when test="search.order[4].toString eq 'asc">
				location asc 
			</when>
			<when test="search.order[4].toString eq 'desc">
				location desc 
			</when>
		</choose>
		LIMIT #{cri.page}, #{cri.pageSize}
	</select>

	<!-- ajax 리턴 용 -->
	<select id="getExportList"
		resultType="com.itwillbs.domain.FacilityVO" resultMap="facility">
		<![CDATA[
		SELECT * FROM FAC_INFO
		]]>
		<where>
			<![CDATA[code = code ]]>
			<!-- 라디오 -->
			<if test="formRadio eq null">
				<![CDATA[AND active = TRUE ]]>
			</if>
			<if test="formRadio neq null">
				<choose>
					<when test="formRadio.toString() eq 'true'">
							<![CDATA[AND active = TRUE ]]>
					</when>
					<when test="formRadio.toString() eq 'false'">
							<![CDATA[AND active = FALSE ]]>
					</when>
				</choose>
			</if>
			<!-- 라디오 -->
			<!-- 기본 검색 -->
			<if test="searchKeyword neq null">
				<choose>
					<when test="searchCategory.toString() eq null">
							<![CDATA[
								AND (code LIKE '%'||#{searchKeyword}||'%' OR 
								name LIKE '%'||#{searchKeyword}||'%' OR 
								model LIKE '%'||#{searchKeyword}||'%' OR 
								location LIKE '%'||#{searchKeyword}||'%' OR 
								line_code LIKE '%'||#{searchKeyword}||'%'
								) 
							]]>
					</when>
					<when test="searchCategory.toString() eq 'code'">
							<![CDATA[
								AND code LIKE '%'||#{searchKeyword}||'%' 
							]]>
					</when>
					<when test="searchCategory.toString() eq 'name'">
							<![CDATA[
								AND name LIKE '%'||#{searchKeyword}||'%' 
							]]>
					</when>
					<when test="searchCategory.toString() eq 'model'">
							<![CDATA[
								AND model LIKE '%'||#{searchKeyword}||'%' 
							]]>
					</when>
					<when test="searchCategory.toString() eq 'location'">
							<![CDATA[
								AND location LIKE '%'||#{searchKeyword}||'%' 
							]]>
					</when>
					<when test="searchCategory.toString() eq 'line_code'">
							<![CDATA[
								AND line_code LIKE '%'||#{searchKeyword}||'%' 
							]]>
					</when>
				</choose>
			</if>
			<!-- 기본 검색 -->
			<!-- check box -->
			<if test="formCheck neq null">
				<![CDATA[AND category IN]]>
				<foreach collection="formCheck" item="item" index="index"
					open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<!-- check box -->
			<!-- date -->
			<if test="date neq null and date.toString() neq ''">
				<![CDATA[
					AND purchase_date = #{date}
				]]>
			</if>
			<!-- date -->
			<!-- date between -->
			<choose>
				<when
					test="betweenDateLeft eq null and betweenDateRight eq null">
				</when>
				<when
					test="betweenDateLeft.toString().length() > 0 
			and (betweenDateRight eq null or betweenDateRight.toString() eq '')">
						<![CDATA[
							AND purchase_date > #{betweenDateLeft}
						]]>
				</when>
				<when
					test="betweenDateRight.toString().length() > 0 
			and (betweenDateLeft eq null or betweenDateLeft.toString() eq '')">
						<![CDATA[
							AND purchase_date < #{betweenDateRight}
						]]>
				</when>
				<when
					test="betweenDateLeft neq null and 
				betweenDateLeft.toString() neq '' and
				betweenDateRight neq null and
				betweenDateRight.toString() neq ''">
						<![CDATA[
							AND purchase_date BETWEEN
							#{betweenDateLeft} AND
							#{betweenDateRight}
						]]>
				</when>
			</choose>
			<!-- date between -->
		</where>
		ORDER BY code		
	</select>
</mapper>