<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- facilityMapper.xml -->
<mapper namespace="com.itwillbs.mapper.FacilityMapper">
	<!-- resultMap -->
	<!-- 설비 -->
	<resultMap type="com.itwillbs.domain.FacilityVO"
		id="facility">
		<result property="code" column="code" />
		<result property="category" column="category" />
		<result property="name" column="name" />
		<result property="model" column="model" />
		<result property="client_code" column="client_code"/>
		<result property="purchase_date" column="purchase_date" />
		<result property="inprice" column="inprice" />
		<result property="line_code" column="line_code" />
		<result property="uph" column="uph" />
		<result property="image" column="image" />
		<result property="active" column="active" />
	</resultMap>
	<!-- 설비 -->
	<!-- resultMap -->

	<select id="getFacility" resultType="com.itwillbs.domain.FacilityVO" resultMap="facility">
		SELECT * FROM FAC_INFO
		WHERE code = #{code}
	</select>

	<!-- 상세 검색 -->
	<sql id="facilitySearch">
		<where>
			<choose>
				<when test="search.formRadio eq null">
					<![CDATA[active = true ]]>
				</when>
				<when test="search.formRadio.toString() eq 'all'">
					<![CDATA[code = code ]]>
				</when>
				<when test="search.formRadio.toString() eq 'true'">
					<![CDATA[active = true ]]>
				</when>
				<when test="search.formRadio.toString() eq 'false'">
					<![CDATA[active = false ]]>
				</when>
			</choose>
			<choose>
				<when test="search.isnull == true">
					<if test="search.isajax == true">
						AND purchase_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW() 
					</if>
				</when>
				<when test="search.isnull == false">
					<!-- 기본 검색 -->
					<if
						test="search.searchKeyword neq null and search.searchKeyword.toString() neq ''">
						<choose>
							<when test="search.index == -1">
								<foreach collection="search.searchMenu" item="item"
									open="AND (" close=")" separator=" OR ">
									${item} LIKE
									'%${search.searchKeyword}%'
								</foreach>
							</when>
							<when test="search.index != -1">
						<![CDATA[
							AND ${search.searchMenu[search.index]} LIKE '%${search.searchKeyword}%' 
						]]>
							</when>
						</choose>
					</if>
					<!-- 기본 검색 -->
					<!-- check box -->
					<if test="search.formCheck neq null">
						<![CDATA[ AND category IN ]]>
						<foreach collection="search.formCheck" item="item"
							index="index" open="(" close=")" separator=",">
							#{item}
						</foreach>
					</if>
					<!-- check box -->
					<!-- date -->
					<choose>
						<when
							test="search.date neq null and search.date.toString() neq ''">
							<![CDATA[
								AND purchase_date = #{search.date}
							]]>
						</when>
						<otherwise>
							<!-- date between -->
							<choose>
								<when
									test="search.betweenDateLeft neq null and search.betweenDateLeft.toString() neq '' and search.betweenDateRight neq null and search.betweenDateRight.toString() neq ''">
											<![CDATA[
												AND purchase_date BETWEEN 
												#{search.betweenDateLeft} AND 
												#{search.betweenDateRight} 
											]]>
								</when>
								<when
									test="search.betweenDateLeft neq null and search.betweenDateLeft.toString() neq ''">
											<![CDATA[
												AND purchase_date >= #{search.betweenDateLeft}
											]]>
								</when>
								<when
									test="search.betweenDateRight neq null and search.betweenDateRight.toString() neq ''">
											<![CDATA[
												AND purchase_date <= #{search.betweenDateRight}
											]]>
								</when>
							</choose>
							<!-- date between -->
						</otherwise>
					</choose>
					<!-- date -->
				</when>
			</choose>
		</where>
	</sql>
	<!-- 상세 검색 -->

	<!-- 추가 -->
	<insert id="insertFacility">
		<choose>
			<when test="category.toString() eq 'production'">
				INSERT INTO FAC_INFO (code, category, name, model, 
				purchase_date, inprice, uph, line_code)
				VALUES (#{code}, #{category}, #{name},
				#{model}, #{purchase_date}, ${inprice}, ${uph}, #{line_code})
			</when>
			<when test="category.toString() neq 'production'">
				INSERT INTO FAC_INFO (code, category, name, model, 
				purchase_date, inprice, line_code)
				VALUES (#{code}, #{category}, #{name},
				#{model}, #{purchase_date}, ${inprice}, #{line_code})
			</when>
		</choose>
	</insert>
	<!-- 추가 -->

	<!-- 최근 설비 검색 -->
	<select id="findLastFacility" resultType="String">
		SELECT code FROM FAC_INFO
		ORDER BY code DESC
		LIMIT 0, 1
	</select>
	<!-- 최근 설비 검색 -->

	<!-- 수정 -->
	<sql id="updateFacility">
		<![CDATA[
				category = #{category},
			]]>
		<if test="name neq null">
				<![CDATA[
					, name = #{name}
				]]>
		</if>
		<if test="model neq null and model.toString() neq ''">
				<![CDATA[
					, model = #{model}
				]]>
		</if>
		<if test="location neq null and locaiton.toString() neq ''">
				<![CDATA[
					, location = #{location}
				]]>
		</if>
		<if test="line_code neq null and line_code.toString() neq ''">
				<![CDATA[
					, line_code = #{line_code}
				]]>
		</if>
	</sql>
	<!-- 수정 -->
	<!-- 수정(클라이언트) -->
	<update id="updateFacilityClient">
		UPDATE FAC_INFO
		<set>
			<include refid="updateFacility" />
		</set>
		<where>
			code = #{code}
		</where>
	</update>

	<update id="updateFacilityAdmin">
		UPDATE FAC_INFO
		<set>
			active = #{active}
			<include refid="updateFacility" />
			<choose>
				<when
					test="client_code eq null or client_code.toString() eq ''">
					<![CDATA[
					, client_code = NULL
					]]>
				</when>
				<when
					test="client_code neq null and client_code.toString() neq ''">
					<![CDATA[
					, client_code = #{client_code}
					]]>
				</when>
			</choose>
			<choose>
				<when test="image eq null or image.toString() eq ''">
					<![CDATA[
					, image = NULL
					]]>
				</when>
				<when test="image neq null and image.toString() neq ''">
					<![CDATA[
					, image = #{image}
					]]>
				</when>
			</choose>
			<if test="uph neq null and uph > 0">
				<![CDATA[
					, uph = #{uph}
				]]>
			</if>
			<if
				test="purchase_date neq null and purchase_date.toString() neq ''">
				<![CDATA[
					, purchase_date = #{purchase_date}
				]]>
			</if>
			<if test="inprice neq null and inprice > 0">
				<![CDATA[
					, inprice = #{inprice}
				]]>
			</if>
		</set>
		<where>
			code = #{code}
		</where>
	</update>

	<!-- 삭제 -->
	<delete id="deleteFacility">
		DELETE FROM FAC_INFO
		<where>
			<![CDATA[ code IN ]]>
			<foreach collection="code" item="item" index="index" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</delete>

	<!-- 개수 계산 -->
	<select id="getFacilityCount" resultType="int">
		<![CDATA[	
		SELECT count(*) FROM FAC_INFO 
		]]>
		<include refid="facilitySearch" />
	</select>

	<!-- 페이징 처리한 리스트 return -->
	<select id="getFacilityList"
		resultType="com.itwillbs.domain.FacilityVO" resultMap="facility">
		<![CDATA[
		SELECT * FROM FAC_INFO
		]]>
		<include refid="facilitySearch" />
		<![CDATA[
		ORDER BY 
		]]>
		${search.eng[search.activeSortCategory]} ${search.sortValue}

		LIMIT ${cri.startPage}, ${cri.pageSize}
	</select>


	<!-- ajax 리턴 용 -->
	<select id="getExportList"
		resultType="com.itwillbs.domain.FacilityVO" resultMap="facility">
		<![CDATA[
		SELECT * FROM FAC_INFO
		]]>
		<include refid="facilitySearch" />
		<![CDATA[ ORDER BY code]]>
	</select>
	
	<select id="getLineList" resultType="com.itwillbs.domain.LineVO">
		SELECT code, name FROM LINE
	</select>
	
	<select id="">
		SELECT * FROM 
	</select>
</mapper>