<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.LineOffMapper">
	<resultMap type="com.itwillbs.domain.LineOffVO" id="off">
		<result property="code" column="code" />
		<result property="start_time" column="start_time" />
		<result property="end_time" column="end_time" />
		<result property="group_id" column="group_id" />
		<result property="group_name" column="group_name" />
		<result property="code_id" column="code_id" />
		<result property="code_name" column="code_name" />
		<collection property="line" resultMap="line">
			<result property="code" column="line_code" />
			<result property="name" column="line_name" />
			<result property="process" column="process" />
			<result property="place" column="place" />
			<result property="status" column="status" />
			<result property="note" column="note" />
			<result property="active" column="active" />
		</collection>
	</resultMap>

	<resultMap type="com.itwillbs.domain.LineVO" id="line">
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="process" column="process" />
		<result property="place" column="place" />
		<result property="status" column="status" />
		<result property="note" column="note" />
		<result property="active" column="active" />
	</resultMap>

	<!-- 라인 off -->
	<insert id="insertOffInfo">
		INSERT INTO LINE_OFF (code, start_time, group_id, code_id) 
		VALUES (#{code}, now(), #{group_id}, #{code_id})
	</insert>
	
	<update id="setLineOff">
		UPDATE LINE 
		<set>
			active = FALSE
		</set>
		<where>
			code = #{code}
		</where>
	</update>
	<!-- 라인 off -->

	<!-- 라인 리스트 -->
	<select id="">
		SELECT l.code as line_code, l.name as line_name, process, place, status, active, start_time 
		FROM LINE LEFT OUTER JOIN (SELECT line_code, start_time FROM(SELECT line_code, start_time, row_number() OVER(PARTITION BY line_code ORDER BY start_time DESC) AS rn FROM LINE_OFF))
	</select>
	<!-- 라인 리스트 -->
</mapper>