<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.LineOffMapper">
	<resultMap type="com.itwillbs.domain.LineOffVO" id="off">
		<result property="index" column="index"/>
		<result property="start_time" column="start_time"/>
		<result property="end_time" column="end_time"/>
		<result property="line_code" column="line_code"/>
		<result property="group_id" column="group_id" />
		<result property="group_name" column="group_name"/>
		<result property="code_id" column="code_id"/>
		<result property="code_name" column="code_name"/>
	</resultMap>
	
	<insert id="insert">
		INSERT INTO LINE_OFF VALUES 
		(#{index}, STR_TO_DATE(#{start_time}, '%Y-%m-%d %h:%i'), STR_TO_DATE(#{end_time}, '%Y-%m-%d %h:%i'),
		#{line_code}, #{group_id}, #{code_id})
	</insert>
	
	<select id="getList" resultMap="off" resultType="com.itwillbs.domain.LineOffVO">
		SELECT * FROM LINE_OFF WHERE start_date BETWEEN DATE_SUB(NOW(), INTERVAL 6 MONTH) AND DATE_ADD(NOW(), INTERVAL 6 MONTH)
	</select>
	
	<update id="">
		UPDATE LINE_OFF 
		<set>
			start_time = STR_TO_DATE(#{start_time}, '%Y-%m-%d %h:%i'), end_time = STR_TO_DATE(#{end_time}, '%Y-%m-%d %h:%i'),
			line_code = #{line_code} 
		</set>
		<where>
			index = #{index}
		</where>
	</update>
</mapper>