<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 미완성 -->
<!-- maintenanceMapper.xml -->
<mapper namespace="com.itwillbs.mapper.MaintenanceMapper">
	<resultMap type="com.itwillbs.domain.MaintenanceVO"
		id="maintenance">
		<result property="code" column="code" />
		<result property="reg_date" column="reg_date" />
		<result property="emp_code" column="emp_code" />
		<result property="fac_code" column="fac_code" />
		<result property="mt_subject" column="mt_subject" />
		<result property="mt_content" column="mt_content" />
		<result property="complete" column="complete" />
		<result property="manager" column="manager" />
		<result property="res_info" column="res_info" />
		<result property="res_content" column="res_content" />
		<result property="comp_date" column="comp_date" />
	</resultMap>
	<resultMap type="com.itwillbs.domain.RMResultVO"
		id="rmResult">
		<result property="emp" column="emp" />
		<result property="name" column="name" />
		<result property="count" column="count" />
	</resultMap>

	<!-- 보전 -->
	<!-- 입력 -->
	<insert id="insertMain">
		INSERT INTO FAC_MT (code, emp_code, fac_code,
		mt_subject, mt_content)
		VALUES (#{code}, #{emp_code}, #{fac_code}, #{mt_subject}, #{mt_cotent})
	</insert>

	<!-- 수정 -->
	<update id="updateMaintenance">
		UPDATE FAC_MT
		<set>
			emp_code = #{emp_code}, fac_code = #{fac_code},
			mt_subject = #{mt_subject}, mt_content = #{mt_content}
		</set>
		<where>
			code = #{code}
		</where>
	</update>

	<!-- 삭제 -->
	<delete id="deleteMaintenance">
		DELETE FROM FAC_MT
		<where>
			code = #{code}
		</where>
	</delete>

	<sql id="maintenanceSearch">
		<where>
			<![CDATA[code = code ]]>
			<if test="search eq null">
				<![CDATA[AND active = TRUE ]]>
			</if>
			<if test="search neq null">
				<!-- 라디오 -->
				<if test="search.formRadio eq null">
				<![CDATA[AND complete = TRUE ]]>
				</if>
				<if test="search.formRadio neq null">
					<choose>
						<when test="search.formRadio.toString() eq 'true'">
							<![CDATA[AND complete = TRUE ]]>
						</when>
						<when test="search.formRadio.toString() eq 'false'">
							<![CDATA[AND complete = FALSE ]]>
						</when>
					</choose>
				</if>
				<!-- 라디오 -->
				<!-- 기본 검색 -->
				<if test="search.searchKeyword neq null">
					<choose>
						<when test="search.searchCategory.toString() eq null">
							<![CDATA[
								AND (code LIKE '%'||#{search.searchKeyword}||'%' OR 
								emp_code LIKE '%'||#{search.searchKeyword}||'%' OR 
								fac_code LIKE '%'||#{search.searchKeyword}||'%' OR 
								manager LIKE '%'||#{search.searchKeyword}||'%' OR 
								res_info LIKE '%'||#{searchKeyword}||'%') 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'index'">
							<![CDATA[
								AND code LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'emp_code'">
							<![CDATA[
								AND emp_code LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'fac_code'">
							<![CDATA[
								AND fac_code LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'manager'">
							<![CDATA[
								AND manager LIKE '%'||#{search.searchKeyword}||'%' 
							]]>
						</when>
						<when test="search.searchCategory.toString() eq 'res_info'">
							<![CDATA[
								AND res_info LIKE '%'||#{searchKeyword}||'%' 
							]]>
						</when>
					</choose>
				</if>
				<!-- 기본 검색 -->
				<!-- check box -->
				<if test="search.formCheck neq null">
				<![CDATA[AND code REGEXP]]>
					<foreach collection="search.formCheck" item="item"
						index="index" open="'" close="'" separator="|">
						#{item}
					</foreach>
				</if>
				<!-- check box -->
				<!-- date -->
				<if test="search.date neq null and search.date.toString() neq ''">
				<![CDATA[
					AND regdate = #{search.date}
				]]>
				</if>
				<!-- date -->
				<!-- date between -->
				<if
					test="search.betweenDateLeft neq null and 
				search.betweenDateLeft.toString() neq '' and
				search.betweenDateRight neq null and
				search.betweenDateRight.toString() neq ''">
					<![CDATA[
					AND regdate BETWEEN
					#{search.betweenDateLeft} AND
					#{search.betweenDateRight}
					]]>
				</if>
				<!-- date between -->
			</if>
			<!-- searchVO not null -->
		</where>
	</sql>
	<select id="getMaintenanceCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM FAC_MT
		]]>
		<include refid="maintenanceSearch" />
	</select>

	<select id="getMaintenanceList"
		resultType="com.itwillbs.domain.MaintenanceVO" resultMap="maintenance">
		<![CDATA[
			SELECT * FROM FAC_MT
		]]>
		<include refid="maintenanceSearch" />
		<![CDATA[
			ORDER BY reg_date 
			LIMIT #{cri.page}, #{cri.pageSize}
		]]>
	</select>
	
	<select id="MaintenanceDetail">
		SELECT * FROM FAC_MT WHERE code = #{code}
	</select>
	<!-- 보전 -->

	<!-- 일상보전 -->
	<insert id="insertRM">
		INSERT INTO FAC_MT (code, emp_code, fac_code,
		mt_subject, mt_content, complete)
		VALUES (#{code}, #{emp_code}, #{fac_code}, #{mt_subject}, #{mt_cotent},
		true)
	</insert>

	<!-- 일상 보전 COUNT LIST(직원별) -->
	<select id="getRMCount"
		resultType="com.itwillbs.domain.RMResultVO" resultMap="rmResult">
		select
		f.emp_code as emp, e.name, count(emp_code) as count FROM FAC_MT f
		join EMPLOYEES e on f.emp_code = e.code
		WHERE DATE(f.reg_date) = NOW() AND
		f.code like 'RM%' GROUP BY f.emp_code
	</select>

	<select id="getRMList">
		SELECT * FROM FAC_MT WHERE emp_code = #{emp} and
		DATE(reg_date) = NOW() AND code like 'RM%' ORDER BY code
	</select>

	<select id="dailyRMCount">
		SELECT count(*) FROM FAC_MT WHERE DATE(reg_date) =
		NOW() AND code like 'RM%' AND emp_id = #{emp_id}
	</select>
	<!-- 일상보전 -->

	<!-- 보전 결과 입력 -->
	<update id="updateResult">
		UPDATE FAC_MT
		<set>
			complete = true, manager = #{manager}, res_info = #{res_info},
			#{res_content}, comp_date = now()
		</set>
		<where>
			code = #{code}
		</where>
	</update>
	
	<!-- 보전 결과 리스트 -->
	<select id="searchResultList">
		SELECT m.code, m.reg_date, m.emp_code, e1.name as writer, m.fac_code, f.model, 
		f.name as facName, manager, e2.name as managerName, res_info 
		FROM FAC_MT m 
		JOIN EMPLOYEES e1 ON m.emp_code = e1.code 
        JOIN EMPLOYEES e2 ON m.manager = e2.code 
        JOIN FAC_INFO f ON f.code = m.fac_code
		<where>
			<choose>
				<when test="search eq null">
					complete = true 
				</when>
				<!-- 검색 -->
				<when test="search neq null">
					<if test="searchKeyword neq null and searchKeyword.toString() neq ''">
						<choose>
							<when test="searchCategory eq null">
							<![CDATA[
								AND (e1.name like '%'||#{search.searchKeyword}||'%' OR
									e2.name like  '%'||#{search.searchKeyword}||'%' OR
									f.model like  '%'||#{search.searchKeyword}||'%' OR
									f.name like '%'||#{search.searchKeyword}||'%' OR
									res_info like '%'||#{search.searchKeyword}||'%' ) 
							]]>
							</when>
							<when test="searchCategory neq null and searchCategory.toString() neq ''">
								<choose>
									<when test="searchCategory.toString() eq 'manager'">
										AND e2.name like '%'||#{search.searchKeyword}||'%' 
									</when>
									<when test="searchCategory.toString() eq 'res_info'">
										AND res_info like '%'||#{search.searchKeyword}||'%' 
									</when>
									<when test="searchCategory.toString() eq 'model'">
										AND f.model like  '%'||#{search.searchKeyword}||'%' 
									</when>
									<when test="searchCategory.toString() eq 'writer'">
										AND e1.name like '%'||#{search.searchKeyword}||'%' 
									</when>
									<when test="searchCategory.toString() eq 'fac_name'">
										AND f.name like '%'||#{search.searchKeyword}||'%' 
									</when>
								</choose>
							</when>
						</choose>
					</if>
					<if test="formC">
						
					</if>
					<if test="">
						
					</if>
					<if test="">
						
					</if>
					<if test="">
						
					</if>
					<if test="">
						
					</if>
					<if test="">
						
					</if>
				</when>
			</choose>
		</where>
		ORDER BY
		<!-- 정렬 -->
		<choose>
			<when test=""></when>
		</choose>
		<choose>
			<when test=""></when>
		</choose>
		<choose>
			<when test=""></when>
		</choose>
		<choose>
			<when test=""></when>
		</choose>
		<choose>
			<when test=""></when>
		</choose>
		LIMIT #{cri.page}, #{cri.pageSize}
	</select>
	<!-- 보전 결과 -->
</mapper>