<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper.xml -->
<mapper namespace="com.itwillbs.mapper.ProductMapper">
    
    <!-- 품목 리스트 전체 조회 -->
    <select id="selectProductList" resultType="MAPDVO">
        SELECT * FROM MAPD
    </select>

    <!-- 품목 등록 -->
    <insert id="insertProduct">
        INSERT INTO MAPD (code,group_id,code_id,name,size,unit,inprice,outprice,reg_emp,reg_date,update_emp,update_date,active) 
        VALUES (#{code},#{group_id},#{code_id},#{name},#{size},#{unit},#{inprice},#{outprice},#{reg_emp},#{reg_date},#{update_emp},#{update_date},#{active})
    </insert>

    <!-- 품목 수정 -->
    <update id="updateProduct">
        UPDATE MAPD SET code = #{code}, group_id = #{group_id}, code_id = #{code_id}, name = #{name}, size = #{size}, unit = #{unit}, inprice = #{inprice}, outprice = #{outprice}, reg_emp = #{reg_emp}, reg_date = #{reg_date}, update_emp = #{update_emp}, update_date = #{update_date}, active = #{active}  
        where code = #{code}
    </update>
    
    <!-- 특정 번호 글 조회 -->
  	<select id="getProduct" resultType="MAPDVO">
  		select * from MAPD 
  		where code = #{code} 	
  	</select>

    <!-- 품목 삭제 -->
	<delete id="deleteProducts" parameterType="string">
	    DELETE FROM MAPD WHERE code IN
	    <foreach collection="array" item="code" open="(" separator="," close=")">
	        #{code}
	    </foreach>
	</delete>
	
	<select id="getInfo" resultType="MAPDVO" parameterType="string">
        SELECT * FROM MAPD WHERE code IN
        <foreach collection="array" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>
    
    <!-- 전체 품목 수 조회 -->
  	<select id="countProduct" resultType="int">
  <![CDATA[
  	select count(*) from MAPD where 1=1
  ]]>
	</select>
	
	<!-- 품목 검색 -->

	<!-- 품목 상세 -->
	<select id="infoProduct" resultType="MAPDVO">
        SELECT code,group_id,code_id,name,size,unit,inprice,outprice,reg_emp,reg_date,update_emp,update_date,active 
        FROM MAPD 
        where code = #{code}
    </select>

</mapper>
