<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- RequirementMapper.xml -->
<mapper namespace="com.itwillbs.mapper.RequirementMapper">
	<resultMap type="com.production.domain.ProductVO" id="product">
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="count" column="count"/>
	</resultMap>
	
	<resultMap type="com.production.domain.BOMVO" id="bom">
		<result property="bno" column="bno" />
		<result property="amount" column="amount"/>
		<result property="material" column="material" />
		<result property="materialName" column="materialName"/>
	</resultMap>
	
	<resultMap type="com.itwillbs.domain.MAPDVO" id="mapd">
		<result property="code" column="code"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<!-- 완제품 목록 -->
	<select id="getProductList" resultMap="product">
		SELECT b.mapd_code as code, m.name, count from MAPD m 
		RIGHT JOIN 
		(SELECT mapd_code, count(*) as count from BOM group by mapd_code) 
		as b 
		ON b.mapd_code = m.code
	</select>
	
	<!-- 완제품 -->
	<select id="getProduct" resultMap="product">
		SELECT b.mapd_code as code, m.name, count from MAPD m 
		RIGHT JOIN 
		(SELECT mapd_code, count(*) as count from BOM group by mapd_code) 
		as b 
		ON b.mapd_code = m.code 
		WHERE b.mapd_code = #{code}
	</select>
	
	<!-- 완제품의 재료 목록 -->
	<select id="getBomList" resultMap="bom">
		SELECT b.bno, b.material, m.name as materialName, b.amount, b.content
		from BOM b 
		LEFT JOIN MAPD m ON b.material = m.code
		where b.mapd_code = #{code}
	</select>
	
	<!-- 재료 추가 -->
	<insert id="addMaterial">
		INSERT INTO BOM 
		VALUES (#{bno}, ${amount}, #{material}, #{content}, #{mapd_code})
	</insert>
	
	<!-- 재료 수정 -->
	<update id="updateMaterial">
		UPDATE BOM 
		<set>
			amount = ${amount}, content = #{content}
		</set>
		<where>
			bno = #{bno}
		</where>
	</update>
	
	<!-- 재료 삭제 -->
	<delete id="deleteMaterial">
		DELETE FROM BOM 
		<where>
			bno IN 
			<foreach collection="array" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<select id="getRecentBno" resultType="int">
		SELECT bno FROM BOM ORDER BY bno DESC LIMIT 0, 1
	</select>
	
	<!-- 003 : 완제, 001 : 재료 -->
	<!-- 완제품 리스트 -->
	<select id="getMapdList" resultMap="mapd">
		SELECT code, name FROM MAPD 
		WHERE group_id = 'PROD' and code_id = '003'
	</select>
	
	<!-- 재료 리스트 -->
	<select id="getMaterialList" resultMap="mapd">
		SELECT code, name FROM MAPD 
		WHERE group_id = 'PROD' and code_id = '001'
	</select>
</mapper>
