<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!--warehouseMapper.xml -->
  <mapper namespace="com.itwillbs.mapper.WarehouseMapper">
  
  	<resultMap type="com.itwillbs.domain.WarehouseVO" id="warehouse">
		<result property="code" column="code"/>
		<result property="location" column="location"/>
		<result property="group_id" column="group_id"/>
		<result property="group_name" column="group_name"/>
		<result property="manager" column="manager"/>
		<result property="mng_phone" column="mng_phone"/>
		<result property="active" column="active"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
	</resultMap>


	<select id="getWarehouseList" resultMap="warehouse">
		SELECT w.code, w.location, w.group_id, w.group_name, e.name, e.phone,
		w.active
		FROM WAREHOUSE w JOIN EMPLOYEES e
		on w.manager=e.name
		limit #{startPage},#{pageSize}
	</select>

	<select id="countWarehouse" resultType="int">
	<![CDATA[	
	SELECT count(*) FROM WAREHOUSE
	]]>
	</select>

	<insert id="insertWarehouse">
		insert into WAREHOUSE
		(code,location,group_id,group_name,manager,mng_phone,active)
		values(#{code},#{location},#{group_id},#{group_name},#{manager},#{mng_phone},1)
	</insert>

	<delete id="deleteWarehouse">
		delete from WAREHOUSE
		where code in #{code}
	</delete>

	<select id="getWarehouseContent" resultType="WarehouseVO">
		SELECT * FROM WAREHOUSE
		WHERE code in #{code}
	</select>


	<select id="searchWarehouse" resultType="WarehouseVO">
		SELECT w.code, w.location, w.group_id, w.group_name, e.name, e.phone,
		w.active
		FROM WAREHOUSE w JOIN EMPLOYEES e
		on w.manager=e.name
		limit #{startPage},#{pageSize}
	</select>

	<select id="getManagerList" resultType="WarehouseVO">
		select code manager, name managerName
		from EMPLOYEES
		where dep_id = '자재부'
	</select>

	<select id="getEmployees" resultType="WarehouseVO">
		select code manager, name managerName
		from EMPLOYEES
		where dep_id = '자재부'
		<if test="manager != null"> AND code like concat('%',#{manager},'%')</if>
		<if test="managerName != null">AND name like concat('%',#{managerName},'%')</if>
	</select>

	<update id="updateWarehouseInfo">
		SELECT
		FROM WAREHOUSE w
		JOIN EMPLOYEES e
		on w.manager=e.name
		where r.code = #{code}
	</update>

	
	
	
  </mapper>