<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!--warehouseMapper.xml d-->
  <mapper namespace="com.itwillbs.mapper.WarehouseMapper">
  
  	<resultMap type="com.itwillbs.domain.WarehouseVO" id="warehouse">
		<result property="code" column="code"/>
		<result property="location" column="location"/>
		<result property="group_id" column="group_id"/>
		<result property="group_name" column="group_name"/>
		<result property="manager" column="manager"/>
		<result property="mng_phone" column="mng_phone"/>
		<result property="active" column="active"/>
	</resultMap>
	
	
  <!-- 모든 글 조회(page) -->
  <select id="getWarehouseList" resultType="WarehouseVO" resultMap="warehouse">
  	select * from WAREHOUSE
  	limit #{startPage},#{pageSize} 	
  </select>
  
  <!-- 개수 계산 -->
  <select id="countWarehouse" resultType="int">
	<![CDATA[	
	SELECT count(*) FROM WAREHOUSE
	]]>
  </select>
  
  <!-- 창고 등록 -->
  <insert id="insertWarehouse">
  	insert into WAREHOUSE (code,location,group_id,group_name,manager,mng_phone,active) 
  	values(#{code},#{location},#{group_id},#{group_name},#{manager},#{mng_phone},#{active})
  </insert>

		
  </mapper>